{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}
    <!-- top image -->
    <img src="/static/airplane.jpeg" id="index_image">
    <div style="height: 1000px;"></div>

    <!-- paragraph -->
    <div>
        <div class="container text-center" id="p_1">
            <div class="row align-items-center">
                <div class="col-6">
                    <div>
                        <h3 id="p_1_head_major">
                            Airplane Ticket
                        </h3>
                        <p id="p_1_major">
                            Ticket is the largest and most reliable website for online purchase of plane, train and bus tickets in the country, which started its work in 2022 and during this time it has been able to gain the satisfaction of a significant percentage of users. At first, the sale of domestic flight tickets was on Ticket's agenda; But over time, the possibility of buying other tourism products was also added to Ticket.
                        </p>
                    </div>
                    <div style="height: 50px;"></div>
                    <div>
                        <h3 id="p_1_head_sub">
                            Benifit of Buying from Ticket
                        </h3>
                        <p id="p_1_sub">
                            By buying plane tickets from Ticket, you are faced with a reliable and reliable system that meets all your needs. To buy plane tickets online on Ticket, just select your origin, destination and flight date. After clicking on search, the price list of plane tickets to your desired destination will appear. In this list, you have many choices. In order to narrow down the options for buying plane tickets, Ticket provides you with various tools.
                            <br><br>
                            In addition, you can choose the airline you want by using the filters on the side of the screen. In addition, you can activate the plane charter ticket or the system to view only one of these two types of tickets. Foreign plane tickets, flight class and flight time are other options that, by choosing them, the number of tickets will be limited and the booking of plane tickets will be easier for you.
                        </p>
                    </div>
                </div>
                <div class="col-6" >
                   <img src="/static/trip.jpeg" id="p_1_image">
                </div>
              </div>
        </div>
    </div>
    <div style="height: 200px;"></div>
    <div id="p_2">
        <div>
            <h3>
                The possibility of refunding the plane ticket
            </h3>
            <p>
                Another feature of Ticket is the online return of plane tickets (cancellation of tickets). If your travel plan changes after booking a plane ticket, you can easily cancel your plane ticket according to domestic flight cancellation rules. After the refund, your money will be returned to your account as soon as possible. You can use a mobile phone, PC or tablet to buy plane tickets online from Ticket. Ticket is user-friendly in all these tools and you will experience an easy shopping experience. It is also possible to install and use the Ticket application for Android and iPhone phones.
            </p>
        </div>
        <div style="height: 100px;"></div>
        <div>
            <h3>
                Ticket: the number one online purchase of travel tickets
            </h3>
            <p>
                Over the years, Alibaba has gained a lot of credibility with its customers. According to the survey, 97.2 percent of Alibaba's customers were satisfied with the services of this system and suggested its use to their friends and acquaintances. The speed and simplicity of buying plane tickets online, its credibility and reputation, the possibility of online ticket refunds and 24-hour support on all days of the week have made Alibaba the number one ticket seller.
                <br><br>
                By booking plane tickets on Alibaba, you will be sure of a comfortable and hassle-free trip.
            </p>
        </div>
    </div>
{% endblock %}
